h3{
    font-weight: bold;
    font-size: 25px;
}

.titulos{
    position: relative;
    top: 25px;
}

button{
    position: relative;
    top: 35px;
}

h1{
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 35px;
    font-weight: bold;
}